<H2>Car Lot Inventory</H2>

<h4>Would you like to add a new manufacturer?</h4><a href="/manufacturers/new">Add new</a>

<h4>Would you like to add a new vehicle to the inventory?</h4><a href="">Add new√</a>
